.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    filter: opacity(0.5);
}

.banner-style-one {
    background-size: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 1.7;
    position: relative;
    background-position: center center;
    overflow:hidden;
    filter: saturate(0.5);
    background: #0f0f0f82;
    /* background: slateblue; */
}

.banner-style-one .border1 {
    top: 0%;
    left: 14%;
    position: absolute;
    height: 100%;
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.banner-style-one .border1:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 4px;
    height: 30px;
    -webkit-animation: scroll1 6s ease-out infinite;
    animation: scroll1 6s ease-out infinite;
    background: #e5e6e480;
}

.banner-style-one .border2 {
    top: 0%;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.banner-style-one .border2:before {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 4px;
    height: 30px;
    -webkit-animation: scroll2 6s ease-out infinite;
    animation: scroll2 6s ease-out infinite;
    background: #e5e6e480;
    overflow: hidden;
}

.banner-style-one .border3 {
    top: 120px;
    position: absolute;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.heading-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.heading {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
   /*  transform: translate(-50%, -50%); */
    transform: translate(-45%, -33%);
}

.heading p {
    max-width: 200px;
    width: 200px;
    font-size: 4rem;
    color: white;
    line-height: 55px;
}

.btn-wrap {
    position: relative;
    width: 100%;
    height: auto;
}

.button-prime-2 {
    position: absolute;
    font-size: 1.3rem;
    color: white;
    top: 0;
    left: 0;
    /* border-radius: 25px; */
    background-color: transparent;
    color: #FFFFFF !important;
    border: 1px solid white;
    text-align: center;
    padding: 9px 9px 9px 9px;
    font-weight: bold;
    width: 118px;
    height: auto;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.button-prime-2:hover {
    letter-spacing: 1px;
    background: white;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .button-prime-2 {
        position: absolute;
        font-size: 1rem;
        color: white;
        top: 0;
        left: 0;
        padding: 7px 7px 10px 10px;
        width: 90px;
        height: 30px;
      
    }

    .banner-style-one {
        background-size: cover;
        height: 100%;
        width: 100%;
        aspect-ratio: 1;
        position: relative;
        background-position: center center;
        overflow: hidden;
    }
}






@media screen and (max-width: 600px) {
   
}

@media screen and (min-width: 768px)  {
.heading p {
  
    max-width: 200px;
    width: 200px;
    font-size: 8rem;
    color: white;
    line-height: 87px;
}



.button-prime-2 {
   
}
    
}

@media screen and (min-width: 1200px){
    .heading p {
  
        max-width: 200px;
        width: 200px;
        font-size: 13rem;
        color: white;
        line-height: 146px;
    }

    .heading {
        transform: translate(-45%, -44%);
    }
}

@media screen and (min-width: 1920px) {
    .heading {
    
       
}


}


@media only screen and (max-width: 1518px) and (min-width: 1200px) {
.banner-style-one .border4 {
    top: 87%;
}

.banner-style-one .border4 {
    top: 80%;
    left: 50%;
    position: absolute;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.banner-style-one .border4:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 30px;
    height: 4px;
    -webkit-animation: scroll3 7s ease-out infinite;
    animation: scroll3 7s ease-out infinite;
    background: #ffffff;
}
}
@-webkit-keyframes scroll1 {
  0% {
    opacity: 1;
    bottom: 0; }
  50% {
    bottom: 50%; }
  100% {
    bottom: 100%;
    opacity: 0.5; } }

@keyframes scroll1 {
  0% {
    opacity: 1;
    bottom: 0; }
  50% {
    bottom: 50%; }
  100% {
    bottom: 100%;
    opacity: 0.5; } 
}

@-webkit-keyframes scroll2 {
  0% {
    opacity: 1;
    top: 0; }
  50% {
    top: 50%; }
  100% {
    top: calc(100% - 30px);
    opacity: 0.5; } }

@keyframes scroll2 {
  0% {
    opacity: 1;
    top: 0; }
  50% {
    top: 50%; }
  100% {
    top: calc(100% - 30px);
    opacity: 0.5; } 
}


@-webkit-keyframes scroll3 {
  0% {
    opacity: 1;
    left: 0; }
  50% {
    left: 50%; }
  100% {
    left: 100%;
    opacity: 0.5; } }

@keyframes scroll3 {
  0% {
    opacity: 1;
    left: 0; }
  50% {
    left: 50%; }
  100% {
    left: 100%;
    opacity: 0.5; }
}



@-webkit-keyframes ripple-white {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1);
    box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1); }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0);
    box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0); } }

@keyframes ripple-white {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1);
    box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1); }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0);
    box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0); } }

@-webkit-keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4);
    box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2);
    box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1);
    box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1); } }

@keyframes pulse1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4);
    box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2);
    box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1);
    box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1); } }



@media only screen and (max-width: 1518px) and (min-width: 1200px) {



}



